{% extends 'homebase.html' %}
{% load i18n %}
{% block title %} Liên Hệ-{{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Trang chủ</a></li>
            <li class="active">Liên Hệ</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-5">

                <div class="billing-details">

                    <div class="section-title">
                        <h3 class="title">Gửi tin liên hệ</h3>

                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}}" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}

                    </div>
                    <form id="checkout-form" class="clearfix" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit" value="GỬI TIN">
                    </form>
                </div>

            </div>

            <div class="col-md-7">
                <div class="shiping-methods">
                    <div class="section-title">
                        <h3 class="title">Thông tin liên hệ</h3>
                    </div>
                    <div style="text-align: center;">
                        <div>
                            <p>
                            <h4>Liên hệ nhóm 9</h4>
                            Số điện thoại hỗ trợ: 0123456789
                            <br>
                            Email: nhom9kotontai@gmail.com
                            <br>
                            Địa chỉ: UIT
                            </p>
                        </div>
                        <h4>Theo dõi chúng tôi trên</h4>
                    </div>

                    <center>
                        <div class="mb-4">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/aq121001"
                                target="_blank" role="button"><i class="fa fa-facebook-f"></i></a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/elonmusk"
                                target="_blank" role="button">
                                <ia class="fa fa-twitter"></ia>
                            </a>

                            <!-- Google -->
                            <a class="btn btn-outline-light btn-floating m-1"
                                href="https://www.google.com.vn/search?q=qiyana+opgg" target="_blank" role="button"><i
                                    class="fa fa-google"></i></a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1"
                                href="https://www.instagram.com/cristiano/" target="_blank" role="button"><i
                                    class="fa fa-instagram"></i></a>
                        </div>
                    </center>
                    <!-- Social media -->

                </div>
            </div>




        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->


{% endblock %}
